SECRET_KEY=generate-a-secure-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
DB_NAME=asas_school_db
DB_USER=asas_school_user
DB_PASSWORD=PUT_PASSWORD_HERE
DB_HOST=127.0.0.1
DB_PORT=5432
JWT_SIGNING_KEY=change-me
FIREBASE_PUSH_ENABLED=False
FIREBASE_PROJECT_ID=
GOOGLE_APPLICATION_CREDENTIALS=path/to/firebase-service-account.json
